h1{
	color: deeppink !important;
	text-align: center;
	font-size: 2rem;


}


*{

font-family: "Courier New", monospace;
font-size:30px;
}

#zuitt-motto{
letter-spacing: 2px;
}

.offering-item{
text-transform: uppercase;
}

input[required]{
	border-width: 1px;
	border-style: solid;
	border-color: pink;
	}

img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

#bootcamp-learning-list{
	color: #075966;
}

h2 ~ a{
	text-decoration: none;
}

body > section > form > label{
	color: rgb(0,0,128);

}

body{
	background-color: skyblue;
}
html{
	scroll-behavior: smooth;

}
nav{
	background-color: white;
}
a:hover {background-color: #b4d6de;

}
div{
	display: inline-block;
	float: right;
}

section {

height: 100vh;
text-align: center;

}

h2{
	font-size: 1.5rem;
}
ol {
	list-style-type: none;

}

form{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 225px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}
button{
	background-color: #cf0053;
	color:  white;
	border:  0;
	border-radius: 15px;
}