*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}

h1 {
	color: blue; !important;
	font-size: 2rem;
}

#bootcamp{
	text-transform: uppercase;
}

.language{
	background-color: violet;
}
.tools{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

 img + ul{
	list-style-type: upper-roman;
}

section > img {
	height: 400px;
	width: 400px;
	border-radius: 145px;
}
ul ~ p {
	text-align: right;
}

body > section > h4 {
	letter-spacing: 20px;
}
